# No Chinese character in this config file, will lead to the HTML test runner exception.
# Section name is upper/lower case sensitive (could have blanks), keys in dictionary only support lower case

[connection]
hmc = 9.12.35.134
uid = mayijie
psw = mayijie5
cpc = T90

[partition]
commondict = {'par_type': 'linux',
              'par_desc': 'Auto created by batch script',
              'par_reserveresources': 'false',
              'proc_mode': 'shared',
              'proc_type': 'ifl',
              'proc_num': '2',
              'init_mem': '16',
              'max_mem': '32'
              }
# partitions name array
testdistro = ['part1',
             'part2',
             'part3'
             ]
ubuntu = ['T90-UBUT11',
         'T90-UBUT12',
         'T90-UBUT13',
         'T90-UBUT14',
         'T90-UBUT15',
         'T90-UBUT21',
         'T90-UBUT22',
         'T90-UBUT23',
         'T90-UBUT24',
         'T90-UBUT25'
         ]
suse = ['T90-SUSE11',
       'T90-SUSE12',
       'T90-SUSE13',
       'T90-SUSE14',
       'T90-SUSE15',
       'T90-SUSE21',
       'T90-SUSE22',
       'T90-SUSE23',
       'T90-SUSE24',
       'T90-SUSE25'
       ]
rhel = ['T90-RHEL11',
       'T90-RHEL12',
       'T90-RHEL13',
       'T90-RHEL14',
       'T90-RHEL15',
       'T90-RHEL21',
       'T90-RHEL22',
       'T90-RHEL23',
       'T90-RHEL24',
       'T90-RHEL25'
       ]

[storage]
commondict = {'sgdesc': 'Auto created by batch script',
              'stortype': 'fcp',
              'sgshared': 'False',
              'maxnumofpars': '1',
              'numofpaths': '2',
              'sgvolume': '1data16',
              'emaillist': 'jrossi@us.ibm.com,mayijie@cn.ibm.com,dtrnka@us.ibm.com'
             #'emaillist': 'mayijie@cn.ibm.com'
              }
# storage volumes definition
svdict = {'1boot16': [{'storVolUse': 'boot', 'storVolSize': 16.03, 'storVolDesc': 'Boot_Volume'}],
          '1data16': [{'storVolUse': 'data', 'storVolSize': 16.03, 'storVolDesc': 'Data_Volume'}]
          }
# storage groups name array
testsg = ['sg1',
          'sg2',
          'sg3'
          ]
ubuntu_boot = ['T90_UBUT11_XIV_Dedicated_SG01',
               'T90_UBUT12_XIV_Dedicated_SG01',
               'T90_UBUT13_XIV_Dedicated_SG01',
               'T90_UBUT14_XIV_Dedicated_SG01',
               'T90_UBUT15_XIV_Dedicated_SG01',
               'T90_UBUT21_XIV_Dedicated_SG01',
               'T90_UBUT22_XIV_Dedicated_SG01',
               'T90_UBUT23_XIV_Dedicated_SG01',
               'T90_UBUT24_XIV_Dedicated_SG01',
               'T90_UBUT25_XIV_Dedicated_SG01'
               ]
ubuntu_data = ['T90_UBUT11_XIV_Dedicated_SG02',
               'T90_UBUT12_XIV_Dedicated_SG02',
               'T90_UBUT13_XIV_Dedicated_SG02',
               'T90_UBUT14_XIV_Dedicated_SG02',
               'T90_UBUT15_XIV_Dedicated_SG02',
               'T90_UBUT21_XIV_Dedicated_SG02',
               'T90_UBUT22_XIV_Dedicated_SG02',
               'T90_UBUT23_XIV_Dedicated_SG02',
               'T90_UBUT24_XIV_Dedicated_SG02',
               'T90_UBUT25_XIV_Dedicated_SG02'
               ]
suse_boot = ['T90_SUSE11_BOOT_SG01',
             'T90_SUSE12_BOOT_SG01',
             'T90_SUSE13_BOOT_SG01',
             'T90_SUSE14_BOOT_SG01',
             'T90_SUSE15_BOOT_SG01',
             'T90_SUSE21_BOOT_SG01',
             'T90_SUSE22_BOOT_SG01',
             'T90_SUSE23_BOOT_SG01',
             'T90_SUSE24_BOOT_SG01',
             'T90_SUSE25_BOOT_SG01'
             ]
suse_data = ['T90_SUSE11_DATA_SG02',
             'T90_SUSE12_DATA_SG02',
             'T90_SUSE13_DATA_SG02',
             'T90_SUSE14_DATA_SG02',
             'T90_SUSE15_DATA_SG02',
             'T90_SUSE21_DATA_SG02',
             'T90_SUSE22_DATA_SG02',
             'T90_SUSE23_DATA_SG02',
             'T90_SUSE24_DATA_SG02',
             'T90_SUSE25_DATA_SG02'
             ]
rhel_boot = ['T90_RHEL11_XIV_Dedicated_SG01',
             'T90_RHEL12_XIV_Dedicated_SG01',
             'T90_RHEL13_XIV_Dedicated_SG01',
             'T90_RHEL14_XIV_Dedicated_SG01',
             'T90_RHEL15_XIV_Dedicated_SG01',
             'T90_RHEL21_XIV_Dedicated_SG01',
             'T90_RHEL22_XIV_Dedicated_SG01',
             'T90_RHEL23_XIV_Dedicated_SG01',
             'T90_RHEL24_XIV_Dedicated_SG01',
             'T90_RHEL25_XIV_Dedicated_SG01'
             ]
rhel_data = ['T90_RHEL11_XIV_Dedicated_SG02',
             'T90_RHEL12_XIV_Dedicated_SG02',
             'T90_RHEL13_XIV_Dedicated_SG02',
             'T90_RHEL14_XIV_Dedicated_SG02',
             'T90_RHEL15_XIV_Dedicated_SG02',
             'T90_RHEL21_XIV_Dedicated_SG02',
             'T90_RHEL22_XIV_Dedicated_SG02',
             'T90_RHEL23_XIV_Dedicated_SG02',
             'T90_RHEL24_XIV_Dedicated_SG02',
             'T90_RHEL25_XIV_Dedicated_SG02'
             ]

[network]
commondict = {'namesuffix': '10Dot_AccessMode_VLAN1292',
              'desc': '10 Dot Network Access Mode VLAN 1292',
              'devnum': '1001',
              'adaptername': 'OSD 0230 Z25B-17',
              'adapterport': '0'
              }
rhel2 = ['T90-RHEL24',
         'T90-RHEL25'
         ]
rhel3 = ['T90-RHEL14',
         'T90-RHEL15',
         'T90-RHEL21',
         'T90-RHEL22',
         'T90-RHEL23',
         'T90-RHEL24',
         'T90-RHEL25'
         ]

[attachment]
rhel = {#'T90-RHEL12': {'T90_RHEL12_XIV_Dedicated_SG01': [9000, 9100], 'T90_RHEL12_XIV_Dedicated_SG02': [9200, 9300]},
       #'T90-RHEL13': {'T90_RHEL13_XIV_Dedicated_SG01': [9000, 9100], 'T90_RHEL13_XIV_Dedicated_SG02': [9200, 9300]},
        'T90-RHEL14': {'T90_RHEL14_XIV_Dedicated_SG01': [9000, 9100], 'T90_RHEL14_XIV_Dedicated_SG02': [9200, 9300]},
        'T90-RHEL15': {'T90_RHEL15_XIV_Dedicated_SG01': [9000, 9100], 'T90_RHEL15_XIV_Dedicated_SG02': [9200, 9300]},
        'T90-RHEL21': {'T90_RHEL21_XIV_Dedicated_SG01': [9000, 9100], 'T90_RHEL21_XIV_Dedicated_SG02': [9200, 9300]},
        'T90-RHEL22': {'T90_RHEL22_XIV_Dedicated_SG01': [9000, 9100], 'T90_RHEL22_XIV_Dedicated_SG02': [9200, 9300]},
        'T90-RHEL23': {'T90_RHEL23_XIV_Dedicated_SG01': [9000, 9100], 'T90_RHEL23_XIV_Dedicated_SG02': [9200, 9300]},
        'T90-RHEL24': {'T90_RHEL24_XIV_Dedicated_SG01': [9000, 9100], 'T90_RHEL24_XIV_Dedicated_SG02': [9200, 9300]},
        'T90-RHEL25': {'T90_RHEL25_XIV_Dedicated_SG01': [9000, 9100], 'T90_RHEL25_XIV_Dedicated_SG02': [9200, 9300]}
        }

suse = {'T90-SUSE11': {'T90_SUSE11_V7000_BOOT_SG01': [9000, 9100], 'T90_SUSE11_V7000_DATA_SG02': [9200, 9300]},
        'T90-SUSE12': {'T90_SUSE12_V7000_BOOT_SG01': [9000, 9100], 'T90_SUSE12_V7000_DATA_SG02': [9200, 9300]},
        'T90-SUSE13': {'T90_SUSE13_V7000_BOOT_SG01': [9000, 9100], 'T90_SUSE13_V7000_DATA_SG02': [9200, 9300]},
        'T90-SUSE14': {'T90_SUSE14_V7000_BOOT_SG01': [9000, 9100], 'T90_SUSE14_V7000_DATA_SG02': [9200, 9300]},
        'T90-SUSE15': {'T90_SUSE15_V7000_BOOT_SG01': [9000, 9100], 'T90_SUSE15_V7000_DATA_SG02': [9200, 9300]},
        'T90-SUSE21': {'T90_SUSE21_V940_BOOT_SG01': [9000, 9100], 'T90_SUSE21_V940_DATA_SG02': [9200, 9300]},
        'T90-SUSE22': {'T90_SUSE22_V940_BOOT_SG01': [9000, 9100], 'T90_SUSE22_V940_DATA_SG02': [9200, 9300]},
        'T90-SUSE23': {'T90_SUSE23_V940_BOOT_SG01': [9000, 9100], 'T90_SUSE23_V940_DATA_SG02': [9200, 9300]},
        'T90-SUSE24': {'T90_SUSE24_V940_BOOT_SG01': [9000, 9100], 'T90_SUSE24_V940_DATA_SG02': [9200, 9300]},
        'T90-SUSE25': {'T90_SUSE25_V940_BOOT_SG01': [9000, 9100], 'T90_SUSE25_V940_DATA_SG02': [9200, 9300]}
        }

[partitionStatus]
longevity = {'T90-UBUT11',
             'T90-UBUT12',
             'T90-UBUT13',
             'T90-UBUT14',
             'T90-UBUT15',
             'T90-UBUT21',
             'T90-UBUT22',
             'T90-UBUT23',
             'T90-UBUT24',
             'T90-UBUT25',
             'T90-SUSE11',
             'T90-SUSE12',
             'T90-SUSE13',
             'T90-SUSE14',
             'T90-SUSE15',
             'T90-SUSE21',
             'T90-SUSE22',
             'T90-SUSE23',
             'T90-SUSE24',
             'T90-SUSE25',
             'T90-RHEL11',
             'T90-RHEL12',
             'T90-RHEL13',
             'T90-RHEL14',
             'T90-RHEL15',
             'T90-RHEL21',
             'T90-RHEL22',
             'T90-RHEL23',
             'T90-RHEL24',
             'T90-RHEL25'
             }
