# No Chinese character in this config file, will lead to the HTML test runner exception.

[connection]
hmc = 9.12.35.134
uid = mayijie
psw = mayijie5
cpc = T90

[partCommon]
par_type = linux
par_desc = Auto created by batch script
par_reserveresources = false
proc_mode = shared
proc_type = ifl
proc_num = 2
init_mem = 16
max_mem = 32
